

/* .bildspel {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #7D675A;
}
.bildspel img {
   height: 45vh; 
} */

/* .VarMat {
    background-image: url("/vår mat bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: wheat;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.VarMat_bilder img {
    width: 100%;
    border-radius: 50px;
    padding: 2%;
}
.VarMat_bilder {
    display: grid;
    grid-template-rows: 1fr 1fr;
} */

body {
    background-image: url("banner.webp");
    background-size: cover;
    background-position: 50%;
    background-position-y: 80%;
    background-attachment: fixed;
}

.start_image_page {
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.start_image_page div {
    text-align: center;
    color: wheat;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}

.VarMat img {
    /* height: 30vh; */
    max-height: 30vh;
    width: 100%;
    border-radius: 40px;
    margin: 10%;
    box-shadow: 1px 2px 16px black;
}
.image1 {grid-area: image1;}
.image2 {grid-area: image2;}
.VarMat {
    display: grid;
    grid-template-areas:
    'varmat_text image2'
    'varmat_text image1';
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    background-image: url("bakgrund.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    place-content: center;
}
.varmat_text {
    padding: 5%;
    grid-area: varmat_text;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.6);
}
.VarMat h2 {
    margin-bottom: 5%;
}
.VarMat p {
    margin-bottom: 3%;
}
.varmat_text a p {
    margin-top: 5%;
    text-decoration: underline;
}
.varmat_text a {
    margin-top: 3%;
    box-shadow: 1px 2px 8px 0px rgba(46, 46, 46, 0.6);
    text-decoration: none;
}


.eventkväll {
    color: wheat;
    height: 50vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    justify-content: space-evenly;
}


@media (max-width: 500px) {
    .VarMat {
        grid-template-areas:
        'varmat_text'
        'image1'
        'image2';
    }
    .VarMat img {
        margin: 0;
        margin-top: 25px;
        width: 100%;
    }
}