.pizzakategori {
    background-image: url("bakgrund.webp");
    background-position: 50%;
    background-size:cover;
    color: wheat;
    padding-bottom: 10%;
}
.pizzakategori h1 {
    /* align-items: center; */
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: underline;
    /* box-shadow: 1px 2px 16px black; */
    text-shadow: 1px 3px 8px black;
}
.pizzor {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 2fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}
.pizza {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 30px;
    align-self: center;
    margin: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}
.pizza:hover {
    outline: 5px rgba(245, 222, 179, 0.7) double;
}



.dricka {
    color: wheat;
    white-space: nowrap;
}
.dricka h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.drickor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    place-items: center;
    padding-bottom: 10%;
}
.drickkolumn {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 30px;
    margin: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.6);
}


@media (max-width: 700px) {
    .pizzor {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 400px) {
    .pizzor {
        grid-template-columns: 1fr;
    }
}