.grid-grej {
    display: grid;
    height: 100vh;
    place-items: center;
}
.om_oss {
    color: wheat;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.6);
    padding: 30px;
}
.om_oss h1 {
    text-decoration: underline;
}