body {margin: 0;}

.topbar {
    text-align: center;
    background-color: #4A3535;
    color: wheat;
    padding: 1%;
}

.topnav a {
    text-decoration:none;
    color: #3f2c2c;
    background-color:#cebcb7;
    margin: 1%;
    padding: .5%;
    border-radius: 10px;
    border: 3px solid #ae946d;
    font-size: large;
    /* margin-inline: 1%; */
}

p {
    font-family: Garamond;
}

.bildspel {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #7D675A;
}
.bildspel img {
   height: 45vh; 
}

/* .VarMat {
    background-image: url("/vår mat bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: wheat;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.VarMat_bilder img {
    width: 100%;
    border-radius: 50px;
    padding: 2%;
}
.VarMat_bilder {
    display: grid;
    grid-template-rows: 1fr 1fr;
} */
.VarMat img {
    height: 30vh;
    border-radius: 40px;
    margin: 2%;
    box-shadow: 1px 2px 16px black;
}
.varmat_text {grid-area: varmat_text;}
.image1 {grid-area: image1;}
.image2 {grid-area: image2;}
.VarMat {
    display: grid;
    grid-template-areas:
    /* 'image1 text image2'; */
    'varmat_text image2'
    'varmat_text image1';
    height: 50%;
    align-items: center;
    background-image: url("var mat bg.jpeg");
    background-position: 50%;
    grid-template-columns: repeat(auto-fit, 60%);
    background-repeat: no-repeat;
    background-size: cover;
}
.varmat_text {
    color: white;
    margin-left: 10%;
    margin-right: 10%;

}
.VarMat h2 {
    margin-bottom: 5%;
}
.VarMat p {
    /* color: white; */

    /* font-size: large; */
    margin-bottom: 3%;
}
.varmat_text a p {
    margin-top: 5%;
    color: black;
    text-decoration: underline;
}
.varmat_text a {
    margin-top: 3%;
    box-shadow: 1px 2px 8px 0px rgba(46, 46, 46, 0.6);
}