body {margin: 0;}

.topbar {
    text-align: center;
    background-color: #4A3535;
    color: wheat;
    padding: 1%;
}

.topnav button {
    font-size: large;
    margin-inline: 1%;
}


.bildspel {
    height: 50%;
    width: 100%;
}
.bildspel img {
   height: 100%; 
}


.VarMat {
    background-image: url("/vår mat bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: wheat;
    height: 50%;
    

}
.VarMat h2 {

}
.VarMat p {
    /* font-size: large; */
}